@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}
.m-scroll {
  display: flex;
  position: relative;
  /* border: 2px solid red; */
  width: 100%;
  height: 20vh; /* Height is responsive to the viewport */
  margin: auto;
  overflow: hidden;
  z-index: 1;
}

.m-scroll__title {
  display: flex;
  position: absolute;
  top: 20px;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transform: scale(1.5); /* Adjust scaling for responsiveness */
  transition: all 1s ease;
}

.m-scroll__title > div {
  display: flex;
  animation: scrollText 10s infinite linear;
}

.m-scroll__title h1 {
  margin: 0;
  font-size: 8vw; /* Use viewport width for responsive font size */
  color: rgba(255, 255, 255, 1);
  transition: all 2s ease;
}

.m-scroll__title a {
  text-decoration: none;
  color: white;
}

.m-scroll__title a:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .m-scroll__title h1 {
    font-size: 8rem; /* Larger font size for smaller screens */
  }
  .m-scroll__title {
    transform: scale(1.2); /* Adjust scale for smaller devices */
  }
}

@media (max-width: 480px) {
  .m-scroll__title h1 {
    font-size: 8rem; /* Even larger font size for very small screens */
  }
  .m-scroll__title {
    transform: scale(1); /* No scaling for smallest devices */
  }
}
